{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}
{% block content %}
    {% if goal is not None %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="rounded-border progress-container">
                <h2 class="section-heading">Progress towards: ${{ goal.amount|floatformat:2 }}</h2>
                <div class="progress" style="margin-top: 0.35in; margin-bottom: 0.15in;" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ progress }}%; background-color: #39d4c0;">
                        <span class="progress-label">${{ bank.balance|floatformat:2 }}</span>
                    </div>
                </div>
                <p class="progress-message">You've achieved {{ progress }}% of your {{ goal.goalName | lower }}. Keep going!</p>
            </div>
        </div>
        
        {% else %}
        <h1 class="display-3" style="padding-top: 20px; padding-bottom: 10px">Current Balance: ${{ bank.balance }}</h1>
        {% endif %}

        <div class="row" style="margin-top: 0.5in;">
            <div class="col-md-6">
                <h2 class="section-heading">Transactions</h1>
                <form method="post">
               {% csrf_token %}
               {% crispy lineItemForm %}
                </form>
            </div>
            <div class="col-md-6">
                <h2 class="section-heading">Goals</h1>
                <form method="post">
               {% csrf_token %}
               {% crispy goalForm %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
