<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    <link rel="shortcut icon" type="image/png" href="{% static 'spotlight/img/icons8-home-64.png' %}" >

    <link rel="stylesheet" href="{% static 'spotlight/css/style.css' %}">

</head>
<body>

<div class="container">
  <ul class="nav navbar-dark bg-dark">
      <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'ledger' %}">Ledger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'addPiggyBank' %}">Piggy Bank</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'addLineItem' %}">Line Item</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>